@page
@model LocalJudge.Server.Host.Pages.Problems.IndexModel
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Problems"];
    ViewData["ID"] = "Problems";
}

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a asp-page="/Index">LocalJudge</a></li>
    <li class="breadcrumb-item active">@ViewData["Title"]</li>
</ul>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @SharedLocalizer[Html.DisplayNameFor(model => model.Problems[0].Name)]
            </th>
            <th style="width:10%">
                @SharedLocalizer[Html.DisplayNameFor(model => model.Problems[0].Author)]
            </th>
            <th style="width:10%">
                @SharedLocalizer[Html.DisplayNameFor(model => model.Problems[0].Source)]
            </th>
            <th style="width:10%">@SharedLocalizer["Operations"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Problems)
        {
            <tr>
                <td>
                    <a asp-page="./View" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Source)
                </td>
                <td>
                    <div class="row" style="margin-left:0px">
                        <form method="post" style="margin-left:0px">
                            <input type="text" asp-for="PostData.ID" style="display:none" value="@item.Id" />
                            <button type="submit" asp-page-handler="Delete" class="btn btn-sm btn-outline-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

