@page
@model LocalJudge.Server.Host.Pages.Submissions.ViewModel
@{
    ViewData["Title"] = "View";
    ViewData["ID"] = "Submissions";
}

@section header{
    <link rel="stylesheet" data-name="vs/editor/editor.main" href="../lib/monaco-editor/min/vs/editor/editor.main.css">
}

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a asp-page="/Index">LocalJudge</a></li>
    <li class="breadcrumb-item"><a asp-page="/Submissions/Index">Submissions</a></li>
    <li class="breadcrumb-item active">@Html.DisplayFor(model => model.Submission.Metadata.Id)</li>
</ul>

<div class="row">
    <div class="col-8">
        <h1 class="display-4">
            <judge-state value="@Model.Submission.Result.State"></judge-state>
        </h1>
        <br />
        <h2>Code</h2>

        <pre id="rawCode" style="display:none">@Html.DisplayFor(model=>model.Code)</pre>
        <div id="code" style="min-height:600px"></div>

        <br />

        @if (Model.Submission.Result.State != APIClients.JudgeState.Pending)
        {
            <h3>Issues</h3>
            <ul>
                @foreach (var item in Model.Submission.Result.Issues)
                {
                    <li>
                        <span class="badge badge-@Helper.GetIssueClass(item.Level)">@item.Level</span>
                        @item.Content
                    </li>
                }
                @for (int i = 0; i < Model.Submission.Result.Samples.Count; i++)
                {
                    var ci = Model.Submission.Result.Samples[i];
                    @foreach (var item in ci.Issues)
                    {
                        <li>
                            <span class="badge badge-@Helper.GetIssueClass(item.Level)">@item.Level</span>
                            Sample @i: @item.Content
                        </li>
                    }
                }
                @for (int i = 0; i < Model.Submission.Result.Tests.Count; i++)
                {
                    var ci = Model.Submission.Result.Tests[i];
                    @foreach (var item in ci.Issues)
                    {
                        <li>
                            <span class="badge badge-@Helper.GetIssueClass(item.Level)">@item.Level</span>
                            Test @i: @item.Content
                        </li>
                    }
                }
            </ul>
        }
    </div>
    <div class="col-4">
        <dl>
            <dt style="float:left; min-width:30px"><i class="fa fa-check-square"></i></dt>
            <dd>@Model.Submission.AcceptedCase / @Model.Submission.TotalCase</dd>

            <dt style="float:left; min-width:30px"><i class="fa fa-question"></i></dt>
            <dd><a asp-page="/Problems/View" asp-route-id="@Model.Submission.Problem.Id">@Html.DisplayFor(model => model.Submission.Problem.Name)</a></dd>

            <dt style="float:left; min-width:30px"><i class="fa fa-clock"></i></dt>
            <dd><timespan-display value="@Model.Submission.TotalTime"></timespan-display></dd>

            <dt style="float:left; min-width:30px"><i class="fa fa-microchip"></i></dt>
            <dd><memory-display value="@Model.Submission.MaximumMemory"></memory-display></dd>

            <dt style="float:left; min-width:30px"><i class="fa fa-code"></i></dt>
            <dd>
                <prolang-display value="@Model.Submission.Metadata.Language"></prolang-display>
                (<memory-display value="@Model.Submission.Metadata.CodeLength"></memory-display>)
            </dd>

            <dt style="float:left; min-width:30px"><i class="fa fa-calendar"></i></dt>
            <dd><timeoffset-display value="@Model.Submission.Metadata.Time"></timeoffset-display></dd>

            <dd>
                <div class="row" style="margin-left:0px">
                    <form method="post">
                        <input type="text" name="type" style="display:none" value="rejudge" />
                        <input type="text" name="id" style="display:none" value="@Model.Submission.Metadata.Id" />
                        <button type="submit" class="btn btn-outline-secondary">
                            <i class="fa fa-redo"></i>
                        </button>
                    </form>
                    <form method="post" style="margin-left:10px">
                        <input type="text" name="type" style="display:none" value="delete" />
                        <input type="text" name="id" style="display:none" value="@Model.Submission.Metadata.Id" />
                        <button type="submit" class="btn btn-outline-danger">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
                </div>
            </dd>
        </dl>
        <br />
        @if (Model.Submission.Result.State != APIClients.JudgeState.Pending)
        {
            @if (Model.Submission.Result.Samples?.Count > 0)
            {
                <h2>Sample Cases</h2>
                <table class="table table-sm table-striped">
                    <tbody>
                        @foreach (var item in Model.Submission.Result.Samples)
                        {
                            <tr>
                                <td>
                                    @item.Id
                                </td>
                                <td>
                                    <judge-state value="@item.State"></judge-state>
                                </td>
                                <td>
                                    <timespan-display value="@item.Time"></timespan-display>
                                </td>
                                <td>
                                    <memory-display value="@item.Memory"></memory-display>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
            }
            @if (Model.Submission.Result.Tests?.Count > 0)
            {
                <h2>Test Cases</h2>
                <table class="table table-sm table-striped">
                    <tbody>
                        @foreach (var item in Model.Submission.Result.Tests)
                        {
                            <tr>
                                <td>
                                    @item.Id
                                </td>
                                <td>
                                    <judge-state value="@item.State"></judge-state>
                                </td>
                                <td>
                                    <timespan-display value="@item.Time"></timespan-display>
                                </td>
                                <td>
                                    <memory-display value="@item.Memory"></memory-display>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
            }

        }
    </div>
</div>

@section scripts{
    <script>var require = { paths: { 'vs': '../lib/monaco-editor/min/vs' } }</script>
    <script src="../lib/monaco-editor/min/vs/loader.js"></script>
    <script src="../lib/monaco-editor/min/vs/editor/editor.main.nls.js"></script>
    <script src="../lib/monaco-editor/min/vs/editor/editor.main.js"></script>
    <script>
        var editor = monaco.editor.create(document.getElementById("code"), {
            value: document.getElementById("rawCode").innerText,
            language: "@Helper.GetEditorLanguage(Model.Submission.Metadata.Language)",
            roundedSelection: false,
            readOnly: true,
        });
    </script>
}
