@using Microsoft.AspNetCore.Identity
@inject SignInManager<APIClients.User> SignInManager
@inject UserManager<APIClients.User> UserManager
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Manage/Index">
                <img gravatar="@(await UserManager.GetEmailAsync(await UserManager.GetUserAsync(User)))" height="32" width="32" style="display:inline" class="rounded" />
                <span style="margin-left:5px;">@User.Identity.Name</span>
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">@SharedLocalizer["Logout"]</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Register">@SharedLocalizer["Register"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Login">@SharedLocalizer["Login"]</a>
        </li>
    }
</ul>
