@page
@model StarOJ.Server.Host.Pages.Problems.DataModel
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = $"{Model.Problem.Metadata.Name} - {SharedLocalizer["Data"]}";
    ViewData["Id"] = "Problems";

    bool canModify = await Model.GetModifyAuthorization();
}

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a asp-page="/Index">StarOJ</a></li>
    <li class="breadcrumb-item"><a asp-page="/Problems/Index">@SharedLocalizer["Problems"]</a></li>
    <li class="breadcrumb-item"><a asp-page="/Problems/View" asp-route-id="@Model.Problem.Metadata.Id">@Html.DisplayFor(model => model.Problem.Metadata.Id)</a></li>
    <li class="breadcrumb-item active">@SharedLocalizer["Data"]</li>
</ul>

<div id="main">
    @for (int i = 0; i < Model.SamplePreview.Count; i++)
    {
        var item = Model.SamplePreview[i];
        var id = $"sample{i}";
        <div class="card border-0">
            <div class="card-header border-0">
                <div class="row">
                    <a class="card-link" data-toggle="collapse" href="#@id" style="margin-left:10px">
                        @SharedLocalizer["Sample"] #@item.Metadata.Id
                    </a>
                </div>
            </div>
            <div id="@id" class="collapse" data-parent="#main">
                <div class="card-body">
                    <div class="row" style="margin-left:0px">
                        <strong>@SharedLocalizer["Input"]</strong>
                        <form method="post" style="margin-left:10px">
                            <input type="hidden" asp-for="PostData.ProblemId"  value="@Model.Problem.Metadata.Id" />
                            <input type="hidden" asp-for="PostData.TestCaseId"  value="@item.Metadata.Id" />
                            <button type="submit" asp-page-handler="SampleInputFile" class="btn btn-sm btn-outline-primary">
                                <i class="fa fa-download"></i>
                            </button>
                        </form>
                    </div>
                    <pre style="margin-top:10px">@item.Input.Content</pre>
                    @if (item.Input.RemainBytes > 0)
                    {
                        <p>@item.Input.RemainBytes bytes omitted.</p>
                    }

                    <div class="row" style="margin-left:0px">
                        <strong>@SharedLocalizer["Output"]</strong>
                        <form method="post" style="margin-left:10px">
                            <input type="hidden" asp-for="PostData.ProblemId"  value="@Model.Problem.Metadata.Id" />
                            <input type="hidden" asp-for="PostData.TestCaseId"  value="@item.Metadata.Id" />
                            <button type="submit" asp-page-handler="SampleOutputFile" class="btn btn-sm btn-outline-primary">
                                <i class="fa fa-download"></i>
                            </button>
                        </form>
                    </div>
                    <pre style="margin-top:10px">@item.Output.Content</pre>
                    @if (item.Output.RemainBytes > 0)
                    {
                        <p>@item.Output.RemainBytes bytes omitted.</p>
                    }

                    @if (canModify)
                    {
                        <strong>@SharedLocalizer["Edit"]</strong>
                        <form method="post" style="margin-top:10px">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <button type="submit" asp-page-handler="EditSample" class="btn btn-sm btn-outline-primary">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button type="submit" asp-page-handler="DeleteSample" class="btn btn-sm btn-outline-danger" style="margin-left:5px; margin-right:10px">
                                <i class="fa fa-trash"></i>
                            </button>
                            <input type="hidden" asp-for="PostData.ProblemId" value="@Model.Problem.Metadata.Id" />
                            <input type="hidden" asp-for="PostData.TestCaseId" value="@item.Metadata.Id" />
                            <div class="form-group">
                                <label class="control-label">@SharedLocalizer["TimeLimit"]</label>
                                <input class="form-control" asp-for="PostData.TestCase.Metadata.TimeLimit" value="@item.Metadata.TimeLimit" />
                                <span asp-validation-for="PostData.TestCase.Metadata.TimeLimit" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">@SharedLocalizer["MemoryLimit"]</label>
                                <input class="form-control" asp-for="PostData.TestCase.Metadata.MemoryLimit" value="@item.Metadata.MemoryLimit" />
                                <span asp-validation-for="PostData.TestCase.Metadata.MemoryLimit" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">@SharedLocalizer["Input"]</label>
                                <textarea class="form-control" asp-for="PostData.TestCase.Input"></textarea>
                                <span asp-validation-for="PostData.TestCase.Input" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">@SharedLocalizer["Output"]</label>
                                <textarea class="form-control" asp-for="PostData.TestCase.Output"></textarea>
                                <span asp-validation-for="PostData.TestCase.Output" class="text-danger"></span>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    }

    @if (false)
    {
        // TODO: Clear sample, add sample
    }

    @for (int i = 0; i < Model.TestPreview.Count; i++)
    {
        var item = Model.TestPreview[i];
        var id = $"test{i}";
        <div class="card border-0">
            <div class="card-header border-0">
                <div class="row">
                    <a class="card-link" data-toggle="collapse" href="#@id" style="margin-left:10px">
                        @SharedLocalizer["Test"] #@item.Metadata.Id
                    </a>
                </div>
            </div>
            <div id="@id" class="collapse" data-parent="#main">
                <div class="card-body">
                    <div class="row" style="margin-left:0px">
                        <strong>@SharedLocalizer["Input"]</strong>
                        <form method="post" style="margin-left:10px">
                            <input type="hidden" asp-for="PostData.ProblemId"  value="@Model.Problem.Metadata.Id" />
                            <input type="hidden" asp-for="PostData.TestCaseId"  value="@item.Metadata.Id" />
                            <button type="submit" asp-page-handler="TestInputFile" class="btn btn-sm btn-outline-primary">
                                <i class="fa fa-download"></i>
                            </button>
                        </form>
                    </div>
                    <pre style="margin-top:10px">@item.Input.Content</pre>
                    @if (item.Input.RemainBytes > 0)
                    {
                        <p>@item.Input.RemainBytes bytes omitted.</p>
                    }

                    <div class="row" style="margin-left:0px">
                        <strong>@SharedLocalizer["Output"]</strong>
                        <form method="post" style="margin-left:10px">
                            <input type="hidden" asp-for="PostData.ProblemId"  value="@Model.Problem.Metadata.Id" />
                            <input type="hidden" asp-for="PostData.TestCaseId"  value="@item.Metadata.Id" />
                            <button type="submit" asp-page-handler="TestOutputFile" class="btn btn-sm btn-outline-primary">
                                <i class="fa fa-download"></i>
                            </button>
                        </form>
                    </div>
                    <pre style="margin-top:10px">@item.Output.Content</pre>
                    @if (item.Output.RemainBytes > 0)
                    {
                        <p>@item.Output.RemainBytes bytes omitted.</p>
                    }

                    @if (canModify)
                    {
                        <strong>@SharedLocalizer["Edit"]</strong>
                        <form method="post" style="margin-top:10px">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <button type="submit" asp-page-handler="EditTest" class="btn btn-sm btn-outline-primary">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button type="submit" asp-page-handler="DeleteTest" class="btn btn-sm btn-outline-danger" style="margin-left:5px; margin-right:10px">
                                <i class="fa fa-trash"></i>
                            </button>
                            <input type="hidden" asp-for="PostData.ProblemId" value="@Model.Problem.Metadata.Id" />
                            <input type="hidden" asp-for="PostData.TestCaseId" value="@item.Metadata.Id" />
                            <div class="form-group">
                                <label class="control-label">@SharedLocalizer["TimeLimit"]</label>
                                <input class="form-control" asp-for="PostData.TestCase.Metadata.TimeLimit" value="@item.Metadata.TimeLimit" />
                                <span asp-validation-for="PostData.TestCase.Metadata.TimeLimit" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">@SharedLocalizer["MemoryLimit"]</label>
                                <input class="form-control" asp-for="PostData.TestCase.Metadata.MemoryLimit" value="@item.Metadata.MemoryLimit" />
                                <span asp-validation-for="PostData.TestCase.Metadata.MemoryLimit" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">@SharedLocalizer["Input"]</label>
                                <textarea class="form-control" asp-for="PostData.TestCase.Input"></textarea>
                                <span asp-validation-for="PostData.TestCase.Input" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">@SharedLocalizer["Output"]</label>
                                <textarea class="form-control" asp-for="PostData.TestCase.Output"></textarea>
                                <span asp-validation-for="PostData.TestCase.Output" class="text-danger"></span>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    }
</div>
