@page
@model StarOJ.Server.Host.Pages.Problems.IndexModel
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = SharedLocalizer["Problems"];
    ViewData["Id"] = "Problems";

    bool canModify = await Model.GetModifyAuthorization();
}

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a asp-page="/Index">StarOJ</a></li>
    <li class="breadcrumb-item active">@ViewData["Title"]</li>
</ul>

@if (canModify)
{
    <div class="btn-group-toggle" style="text-align:right; margin-bottom:10px">
        <a asp-page="./Edit" class="btn btn-outline-success">
            <i class="fa fa-plus"></i>
        </a>
    </div>
}

<div class="text-center" style="width:100%">
    <form method="post" class="form-inline" style="display:inline-flex">
        <label class="control-label">@SharedLocalizer["Id"]</label>
        <input class="form-control" asp-for="PostData.QueryId" style="margin-left:10px; width:100px" />
        <label class="control-label" style="margin-left:10px">@Localizer["Author Id"]</label>
        <input class="form-control" asp-for="PostData.QueryUserId" style="margin-left:10px; width:100px" />
        <label class="control-label" style="margin-left:10px">@SharedLocalizer["Name"]</label>
        <input class="form-control" asp-for="PostData.QueryName" style="margin-left:10px; width:150px" />
        <label class="control-label" style="margin-left:10px">@SharedLocalizer["Source"]</label>
        <input class="form-control" asp-for="PostData.QuerySource" style="margin-left:10px; width:150px" />
        <button type="submit" asp-page-handler="Query" class="btn btn-outline-dark" style="margin-left:10px">@SharedLocalizer["Query"]</button>
    </form>
</div>

<table class="table table-hover" style="margin-top:10px">
    <thead>
        <tr>
            <th style="width:6%">
                @SharedLocalizer[Html.DisplayNameFor(model => model.Problems[0].Metadata.Id)]
            </th>
            <th>
                @SharedLocalizer[Html.DisplayNameFor(model => model.Problems[0].Metadata.Name)]
            </th>
            <th style="width:10%">
                @SharedLocalizer["Author"]
            </th>
            <th style="width:10%">
                @SharedLocalizer[Html.DisplayNameFor(model => model.Problems[0].Metadata.Source)]
            </th>
            <th style="width:15%">@SharedLocalizer["Operations"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Problems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Metadata.Id)
                </td>
                <td>
                    <a asp-page="./View" asp-route-id="@item.Metadata.Id">@Html.DisplayFor(modelItem => item.Metadata.Name)</a>
                </td>
                <td>
                    @if (item.User == null)
                    {
                        <text>item.Metadata.UserId</text>
                    }
                    else
                    {
                        <a asp-page="/Account/Index" asp-area="Identity" asp-route-id="@item.User.Id">@item.User.Name</a>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Metadata.Source)
                </td>
                <td>
                    <div class="row" style="margin-left:0px">
                        <form method="post" style="margin-left:0px">
                            <input type="hidden" asp-for="PostData.Metadata.Id" value="@item.Metadata.Id" />
                            <div class="btn-group-sm">
                                <a asp-page="./Data" asp-route-id="@item.Metadata.Id" class="btn btn-outline-secondary">
                                    <i class="fa fa-database"></i>
                                </a>
                                @if (canModify)
                                {
                                    <button type="submit" asp-page-handler="Export" class="btn btn-outline-info">
                                        <i class="fa fa-file-export"></i>
                                    </button>
                                    <a asp-page="./Edit" asp-route-id="@item.Metadata.Id" class="btn btn-outline-primary">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <button type="submit" asp-page-handler="Delete" class="btn btn-outline-danger">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                }
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

