@page
@model StarOJ.Server.Host.Pages.Problems.IndexModel
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = SharedLocalizer["Problems"];
    ViewData["Id"] = "Problems";
}

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a asp-page="/Index">StarOJ</a></li>
    <li class="breadcrumb-item active">@ViewData["Title"]</li>
</ul>

<table class="table table-hover">
    <thead>
        <tr>
            <th style="width:10%">
                @SharedLocalizer[Html.DisplayNameFor(model => model.Problems[0].Metadata.Id)]
            </th>
            <th>
                @SharedLocalizer[Html.DisplayNameFor(model => model.Problems[0].Metadata.Name)]
            </th>
            <th style="width:10%">
                @SharedLocalizer["Author"]
            </th>
            <th style="width:10%">
                @SharedLocalizer[Html.DisplayNameFor(model => model.Problems[0].Metadata.Source)]
            </th>
            <th style="width:10%">@SharedLocalizer["Operations"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Problems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Metadata.Id)
                </td>
                <td>
                    <a asp-page="./View" asp-route-id="@item.Metadata.Id">@Html.DisplayFor(modelItem => item.Metadata.Name)</a>
                </td>
                <td>
                    @if (item.User == null)
                    {
                        <text>item.Metadata.UserId</text>
                    }
                    else
                    {
                        <a asp-page="/Account/Index" asp-area="Identity" asp-route-id="@item.User.Id">@item.User.Name</a>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Metadata.Source)
                </td>
                <td>
                    <div class="row" style="margin-left:0px">
                        @if ((await AuthorizationService.AuthorizeAsync(User, Helpers.Authorizations.Administrator)).Succeeded)
                        {
                            <form method="post" style="margin-left:0px">
                                <input type="hidden" asp-for="PostData.Id"  value="@item.Metadata.Id" />
                                <button type="submit" asp-page-handler="Delete" class="btn btn-sm btn-outline-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </form>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

