@page
@model StarOJ.Server.Host.Pages.Submissions.IndexModel
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = SharedLocalizer["Submissions"];
    ViewData["Id"] = "Submissions";

    bool canModify = await Model.GetModifyAuthorization();
}

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a asp-page="/Index">StarOJ</a></li>
    <li class="breadcrumb-item active">@ViewData["Title"]</li>
</ul>

<div class="text-center" style="width:100%">
    <form method="post" class="form-inline" style="display:inline-flex">
        <label class="control-label">@SharedLocalizer["Id"]</label>
        <input class="form-control" asp-for="PostData.Id" style="margin-left:10px; width:100px" />
        <label class="control-label" style="margin-left:10px">@Localizer["Problem Id"]</label>
        <input class="form-control" asp-for="PostData.ProblemId" style="margin-left:10px; width:100px" />
        <label class="control-label" style="margin-left:10px">@Localizer["User Id"]</label>
        <input class="form-control" asp-for="PostData.UserId" style="margin-left:10px; width:100px" />
        <label class="control-label" style="margin-left:10px">@SharedLocalizer["Language"]</label>
        <select class="form-control" asp-for="PostData.QueryLanguage" asp-items="Model.QueryLanguages" style="margin-left:10px"></select>
        <label class="control-label" style="margin-left:10px">@SharedLocalizer["State"]</label>
        <select class="form-control" asp-for="PostData.QueryJudgeState" asp-items="Model.QueryJudgeStates" style="margin-left:10px"></select>
        <button type="submit" asp-page-handler="Query" class="btn btn-outline-dark" style="margin-left:10px">
            <i class="fa fa-search"></i>
        </button>
    </form>
</div>

<table class="table table-hover" style="margin-top:10px">
    <thead>
        <tr>
            <th>
                @SharedLocalizer[Html.DisplayNameFor(model => model.Submissions[0].Metadata.Id)]
            </th>
            <th>
                @SharedLocalizer[Html.DisplayNameFor(model => model.Submissions[0].Problem)]
            </th>
            <th>
                @SharedLocalizer[Html.DisplayNameFor(model => model.Submissions[0].Result.State)]
            </th>
            <th>
                @Localizer["Accepted"]
            </th>
            <th>
                @Localizer["Time"]
            </th>
            <th>
                @Localizer["Memory"]
            </th>
            <th>
                @SharedLocalizer[Html.DisplayNameFor(model => model.Submissions[0].Metadata.Language)]
            </th>
            <th>
                @SharedLocalizer["User"]
            </th>
            <th>
                @Localizer["Submission Time"]
            </th>
            <th>@SharedLocalizer["Operations"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Submissions)
        {
            <tr>
                <td>
                    <a asp-page="./View" asp-route-id="@item.Metadata.Id">@item.Metadata.Id</a>
                </td>
                <td>
                    <a asp-page="/Problems/View" asp-route-id="@item.Problem.Id">@Html.DisplayFor(modelItem => item.Problem.Name)</a>
                </td>
                <td>
                    <a asp-page="./View" asp-route-id="@item.Metadata.Id">
                        <judge-state value="@item.Result.State"></judge-state>
                    </a>
                </td>
                <td>
                    @if (item.Result.TotalCase.HasValue)
                    {
                        <text> @item.Result.AcceptedCase / @item.Result.TotalCase </text>
                    }
                    else
                    {
                        <text> N/A </text>
                    }
                </td>
                <td>
                    <timespan-display value="@item.Result.MaximumTime"></timespan-display>
                </td>
                <td>
                    <memory-display value="@item.Result.MaximumMemory"></memory-display>
                </td>
                <td>
                    <a asp-page="./View" asp-route-id="@item.Metadata.Id">
                        <prolang-display value="@item.Metadata.Language"></prolang-display>
                        (<memory-display value="@item.Metadata.CodeLength"></memory-display>)
                    </a>
                </td>
                <td>
                    <a asp-page="/Account/Index" asp-area="Identity" asp-route-id="@item.User.Id">@item.User.Name</a>
                </td>
                <td>
                    <timeoffset-display value="@item.Metadata.Time"></timeoffset-display>
                </td>
                <td>
                    <div class="row" style="margin-left:0px">
                        @if (canModify)
                        {
                            <form method="post">
                                <input type="hidden" asp-for="PostData.Id" value="@item.Metadata.Id" />
                                <div class="btn-group-sm">
                                    <button type="submit" asp-page-handler="Rejudge" class="btn btn-outline-warning">
                                        <i class="fa fa-redo"></i>
                                    </button>
                                    <button type="submit" asp-page-handler="Delete" class="btn btn-outline-danger">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </form>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

