@page
@model StarOJ.Server.Host.Pages.Submissions.ViewModel
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = SharedLocalizer["View"];
    ViewData["Id"] = "Submissions";
}

@section header{
    @if (Model.Submission.Result.State == APIClients.JudgeState.Compiling || Model.Submission.Result.State == APIClients.JudgeState.Judging || Model.Submission.Result.State == APIClients.JudgeState.Pending)
    {
        <meta http-equiv="refresh" content="3">// Auto refresh
    }

    <environment include="Development">
        <link rel="stylesheet" data-name="vs/editor/editor.main" href="../lib/monaco-editor/min/vs/editor/editor.main.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.16.2/min/vs/editor/editor.main.css"
              asp-fallback-href="../lib/monaco-editor/min/vs/editor/editor.main.css"
              crossorigin="anonymous" />
    </environment>
}

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a asp-page="/Index">StarOJ</a></li>
    <li class="breadcrumb-item"><a asp-page="/Submissions/Index">@SharedLocalizer["Submissions"]</a></li>
    <li class="breadcrumb-item active">@Html.DisplayFor(model => model.Submission.Metadata.Id)</li>
</ul>

<div class="row">
    <div class="col-8">
        <h1 class="display-4">
            <judge-state value="@Model.Submission.Result.State"></judge-state>
        </h1>
        <br />
        <div class="row" style="margin-left:0px">
            <h2 style="display:inline">@SharedLocalizer["Code"]</h2>
            <form method="post" style="margin-left:10px">
                <input type="text" asp-for="PostData.Language" style="display:none" value="@Model.Submission.Metadata.Language" />
                <input type="text" asp-for="PostData.Id" style="display:none" value="@Model.Submission.Metadata.Id" />
                <button type="submit" asp-page-handler="DownloadCode" class="btn btn-sm btn-outline-primary">
                    <i class="fa fa-download"></i>
                </button>
            </form>
        </div>

        <pre id="rawCode" style="display:none">@Html.DisplayFor(model=>model.Submission.Metadata.Code)</pre>
        <div id="code" style="min-height:600px"></div>

        <br />

        @if (Model.Submission.Result.HasIssue)
        {
            <h3>@SharedLocalizer["Issues"]</h3>
            <ul>
                @foreach (var item in Model.Submission.Result.Issues)
                {
                    <li>
                        <span class="badge badge-@Helper.GetIssueClass(item.Level)">@item.Level</span>
                        @item.Content
                    </li>
                }
                @for (int i = 0; i < Model.Submission.Result.Samples.Count; i++)
                {
                    var ci = Model.Submission.Result.Samples[i];
                    @foreach (var item in ci.Issues)
                    {
                        <li>
                            <span class="badge badge-@Helper.GetIssueClass(item.Level)">@item.Level</span>
                            @SharedLocalizer["Sample"] @i @item.Content
                        </li>
                    }
                }
                @for (int i = 0; i < Model.Submission.Result.Tests.Count; i++)
                {
                    var ci = Model.Submission.Result.Tests[i];
                    @foreach (var item in ci.Issues)
                    {
                        <li>
                            <span class="badge badge-@Helper.GetIssueClass(item.Level)">@item.Level</span>
                            @SharedLocalizer["Test"] @i @item.Content
                        </li>
                    }
                }
            </ul>
        }
    </div>
    <div class="col-4">
        <dl>
            <dt style="float:left; min-width:30px"><i class="fa fa-question"></i></dt>
            <dd><a asp-page="/Problems/View" asp-route-id="@Model.Submission.Problem.Id">@Html.DisplayFor(model => model.Submission.Problem.Name)</a></dd>

            <dt style="float:left; min-width:30px"><i class="fa fa-user"></i></dt>
            <dd><a asp-page="/Account/Index" asp-area="Identity" asp-route-id="@Model.Submission.User.Id">@Model.Submission.User.Name</a></dd>

            <dt style="float:left; min-width:30px"><i class="fa fa-check-square"></i></dt>
            <dd>
                @if (Model.Submission.Result.TotalCase.HasValue)
                {
                    <text> @Model.Submission.Result.AcceptedCase / @Model.Submission.Result.TotalCase </text>
                }
                else
                {
                    <text> N/A </text>
                }
            </dd>

            <dt style="float:left; min-width:30px"><i class="fa fa-clock"></i></dt>
            <dd><timespan-display value="@Model.Submission.Result.TotalTime"></timespan-display></dd>

            <dt style="float:left; min-width:30px"><i class="fa fa-microchip"></i></dt>
            <dd><memory-display value="@Model.Submission.Result.MaximumMemory"></memory-display></dd>

            <dt style="float:left; min-width:30px"><i class="fa fa-code"></i></dt>
            <dd>
                <prolang-display value="@Model.Submission.Metadata.Language"></prolang-display>
                (<memory-display value="@Model.Submission.Metadata.CodeLength"></memory-display>)
            </dd>

            <dt style="float:left; min-width:30px"><i class="fa fa-calendar"></i></dt>
            <dd><timeoffset-display value="@Model.Submission.Metadata.Time"></timeoffset-display></dd>

            <dd>
                <div class="row" style="margin-left:0px">
                    <a asp-page="/Problems/Data" asp-route-id="@Model.Submission.Metadata.ProblemId" class="btn btn-outline-primary">
                        <i class="fa fa-database"></i>
                    </a>
                    @if ((await AuthorizationService.AuthorizeAsync(User, Helpers.Authorizations.Administrator)).Succeeded)
                    {
                        <form method="post" style="margin-left:10px">
                            <input type="text" asp-for="PostData.Id" style="display:none" value="@Model.Submission.Metadata.Id" />
                            <button type="submit" asp-page-handler="Rejudge" class="btn btn-outline-secondary">
                                <i class="fa fa-redo"></i>
                            </button>
                        </form>
                        <form method="post" style="margin-left:10px">
                            <input type="text" asp-for="PostData.Id" style="display:none" value="@Model.Submission.Metadata.Id" />
                            <button type="submit" asp-page-handler="Delete" class="btn btn-outline-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </form>
                    }
                </div>
            </dd>
        </dl>
        <br />
        @if (Model.Submission.Result.State == APIClients.JudgeState.Compiling || Model.Submission.Result.State == APIClients.JudgeState.Judging || Model.Submission.Result.State == APIClients.JudgeState.Pending)
        {
            @if (Model.Submission.Result.Samples?.Count > 0)
            {
                <h2>@SharedLocalizer["Sample Cases"]</h2>
                <table class="table table-sm table-striped">
                    <tbody>
                        @foreach (var item in Model.Submission.Result.Samples)
                        {
                            <tr>
                                <td>
                                    @item.Id
                                </td>
                                <td>
                                    <judge-state value="@item.State"></judge-state>
                                </td>
                                <td>
                                    <timespan-display value="@item.Time"></timespan-display>
                                </td>
                                <td>
                                    <memory-display value="@item.Memory"></memory-display>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
            }
            @if (Model.Submission.Result.Tests?.Count > 0)
            {
                <h2>@SharedLocalizer["Test Cases"]</h2>
                <table class="table table-sm table-striped">
                    <tbody>
                        @foreach (var item in Model.Submission.Result.Tests)
                        {
                            <tr>
                                <td>
                                    @item.Id
                                </td>
                                <td>
                                    <judge-state value="@item.State"></judge-state>
                                </td>
                                <td>
                                    <timespan-display value="@item.Time"></timespan-display>
                                </td>
                                <td>
                                    <memory-display value="@item.Memory"></memory-display>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
            }

        }
    </div>
</div>

@section scripts{
    <environment include="Development">
        <script>var require = { paths: { 'vs': '../lib/monaco-editor/min/vs' } }</script>
        <script src="../lib/monaco-editor/min/vs/loader.js"></script>
        <script src="../lib/monaco-editor/min/vs/editor/editor.main.nls.js"></script>
        <script src="../lib/monaco-editor/min/vs/editor/editor.main.js"></script>
    </environment>
    <environment exclude="Development">
        <script>var require = { paths: { 'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.16.2/min/vs' } }</script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.16.2/min/vs/loader.js"
                asp-fallback-src="../lib/monaco-editor/min/vs/loader.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.16.2/min/vs/editor/editor.main.nls.js"
                asp-fallback-src="../lib/monaco-editor/min/vs/editor/editor.main.nls.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.16.2/min/vs/editor/editor.main.js"
                asp-fallback-src="../lib/monaco-editor/min/vs/editor/editor.main.js"></script>
    </environment>

    <script>
        var editor = monaco.editor.create(document.getElementById("code"), {
            value: document.getElementById("rawCode").innerText,
            language: "@Helper.GetEditorLanguage(Model.Submission.Metadata.Language)",
            roundedSelection: false,
            readOnly: true,
        });
    </script>
}
